<!-- 
/*-------------------------------------------------------------------*/
/* Copyright IBM Corp. 2013 All Rights Reserved                      */
/*-------------------------------------------------------------------*/
 -->

<div class="input-append">
    <form ng-submit="showUser()">
        <input 
            type        = "text" 
            placeholder = "twitter screen name"
            class       = "input-large" 
            ng-model    = "twitterSN"
            >
        <button 
            type        = "submit" 
            class       = "btn btn-primary" 
            ng-disabled = "analyzeButtonDisabled"
            ng-click    = "showUser()"
            >
            Analyze
        </button>
    </form>
</div>

<div class="row-fluid">
    <div class="span12">
        <h3>users</h3>
    
        <table class="table table-striped">
            <tr ng-hide="users.length">
                <td>To add a user to this otherwise empty list,
                    Analyze a new user using the form above.

            <tr ng-repeat="user in users">
                <td width="3em">
                    <span data-toggle="tooltip" title="Remove User">
                        <i ng-click="removeUser(user.twitterSN)" class="icon-remove icon-2x text-error"></i>
                    </span>

                <td width="3em">
                    <span data-toggle="tooltip" title="Klout score">
                        <span class="badge badge-success">{{user.score}}</span>
                    </span>

                <td width="2em">
                    <span data-toggle="tooltip" title="Analyze!">
                        <a href="#/user/{{user.twitterSN}}">
                            <i class="icon-search icon-2x"> </i>
                        </a>
                    </span>

                <td width="2em">
                    <span data-toggle="tooltip" title="Show at Twitter">
                        <a href="http://twitter.com/{{user.twitterSN}}">
                            <i class="icon-twitter icon-2x"> </i>
                        </a>
                    </span>

                <td>
                    <h4>{{user.twitterSN}}</h4>
        </table>
    </div>
<div>
