<!-- 
/*-------------------------------------------------------------------*/
/* Copyright IBM Corp. 2013 All Rights Reserved                      */
/*-------------------------------------------------------------------*/
-->

<div class="row-fluid" ng-show="messages">
    <button class="btn btn-primary" ng-click="clearMessages()">Clear</button>
    <p>
</div>

<div class="row-fluid" ng-repeat="message in messages">
    <div class="span12">
        <div class="alert alert-error">{{message}}</div>
    </div>
</div>

<div class="row-fluid" ng-hide="messages">
    <div class="span12">
        <div class="alert alert-info">no messages</div>
    </div>
</div>
