<!-- 
/*-------------------------------------------------------------------*/
/* Copyright IBM Corp. 2013 All Rights Reserved                      */
/*-------------------------------------------------------------------*/
-->

<h1><img width="48" height="48" ng-src="{{profileImage}}"> {{twitterSN}}</h1>

<div class="row-fluid">
    <div class="span6">
        <table class="table">
            <tr>

                <td width="3em">
                    <span data-toggle="tooltip" title="Klout score">
                        <span class="badge badge-success" ng-bind="score"></span>
                    </span>

                <td width="2em">
                    <span data-toggle="tooltip" title="Show at Twitter">
                        <a href="http://twitter.com/{{twitterSN}}">
                            <i class="icon-twitter icon-2x"> </i>
                        </a>
                    </span>

                <td></td>
            </tr>
        </table>
    </div>
</div>


<div class="row-fluid">
    <div class="span6">
        <h3>influenced by</h3>
    
        <table class="table table-striped">
            <tr ng-show="influencedByEmpty">
                <td>not a soul!

            <tr ng-repeat="user in influencedBy">
                <td width="3em">
                    <span data-toggle="tooltip" title="Klout score">
                        <span class="badge badge-success">{{user.score}}</span>
                    </span>

                <td width="2em">
                    <span data-toggle="tooltip" title="Analyze!">
                        <a href="#/user/{{user.twitterSN}}">
                            <i class="icon-search icon-2x"> </i>
                        </a>
                    </span>

                <td width="2em">
                    <span data-toggle="tooltip" title="Show at Twitter">
                        <a href="http://twitter.com/{{user.twitterSN}}">
                            <i class="icon-twitter icon-2x"> </i>
                        </a>
                    </span>

                <td>
                    <h4>{{user.twitterSN}}</h4>

        </table>
    </div>

    <div class="span6">
        <h3>influences</h3>
        <table class="table table-striped">
            <tr ng-show="influencesEmpty">
                <td>not a soul!

            <tr ng-repeat="user in influences">
                <td width="3em">
                    <span data-toggle="tooltip" title="Klout score">
                        <span class="badge badge-success">{{user.score}}</span>
                    </span>

                <td width="2em">
                    <span data-toggle="tooltip" title="Analyze!">
                        <a href="#/user/{{user.twitterSN}}">
                            <i class="icon-search icon-2x"> </i>
                        </a>
                    </span>

                <td width="2em">
                    <span data-toggle="tooltip" title="Show at Twitter">
                        <a href="http://twitter.com/{{user.twitterSN}}">
                            <i class="icon-twitter icon-2x"></i>
                        </a>
                    </span>

                <td>
                    <h4>{{user.twitterSN}}</h4>

        </table>
    </div>

</div>

<div class="row-fluid">
    <div class="span6">
        <h3>recent tweets</h3>
        
        <p ng-repeat="tweet in tweets">
            <span data-toggle="tooltip" title="Show at Twitter">
                <a href="https://twitter.com/{{twitterSN}}/status/{{tweet.id}}">
                    <strong>{{tweet.date}}</strong>
                </a> 
            </span>

            <span data-toggle="tooltip" title="Show at Google Maps">
                <a ng-show="tweet.geoIndex" href="{{tweet.mapURL}}">
                    <span class="label label-important">
                        {{tweet.geoIndex}}
                    </span>
                </a>
            </span>

            <br>{{tweet.text}}
        </p>
    </div>

    <div class="span6">
        <h3 ng-show="mapURL">map</h3>
        <img ng-show="mapURL" width="100%" ng-src="{{mapURL}}">
    </div>

<pre ng-show="dump">{{dump}}</pre>
